<a href="https://colab.research.google.com/github/Aust0/MicrosoftLearning-DP-200-Implementing-an-Azure-Data-Solution-/blob/master/001_loops_and_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# to print first 10 numbers
# range-> generate values in steps
range(10)

range(0, 10)

In [ ]:
# a very simple square series
for n in range(10):
  print(n**2)

0
1
4
9
16
25
36
49
64
81

In [ ]:
# simple pattern
for n in range(10):
  for m in range(n):
    print(m, end=' ')
  print('\n')

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5

0 1 2 3 4 5 6

0 1 2 3 4 5 6 7

0 1 2 3 4 5 6 7 8

In [ ]:
# PROBLEM STATEMENT:
# print the pattern in opposite
# 0 1 2 3 4 5 6 7 8 
# 0 1 2 3 4 5 6 7 
# 0 1 2 3 4 5 6 
# ....
# 0 1 2
# 0 1 
# 0

In [ ]:
total = 10
for i in range(total): # 0 1 2
  for j in range(total-i): # [0,1,2], [0,1], [0]-> print space
    print(' ', end='')
  for k in range(i+1): # [], [0], [0,1]
    print(k, end=' ')
  print()

          0
         0 1
        0 1 2
       0 1 2 3
      0 1 2 3 4
     0 1 2 3 4 5
    0 1 2 3 4 5 6
   0 1 2 3 4 5 6 7
  0 1 2 3 4 5 6 7 8
 0 1 2 3 4 5 6 7 8 9

In [ ]:
total = 10
for i in range(total):
  for space in range(i):
    print(' ',end='')
  for elements in range(total-i):
    print(elements, end=' ')
  print()

0 1 2 3 4 5 6 7 8 9
 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7
   0 1 2 3 4 5 6
    0 1 2 3 4 5
     0 1 2 3 4
      0 1 2 3
       0 1 2
        0 1
         0

In [ ]:
# Problem Statemenet
# Pyramid in reverse
# 0 1 2 3 4 5 6 7 8 
#  0 1 2 3 4 5 6 7 
#   0 1 2 3 4 5 6 
#     .........
#        0 1
#         1

In [ ]:
total = 11
for i in range(total-1):
  if(i<=(total/2) -1):
    #spaces on left
    if(i==0):
      continue
    
    for space in range(i):
      print(' ',end='')
    print('*', end='')
    #spaces in between
    for morespace in range(total-2*i): # why -2? because we are printing at least 2 characters (*,*)
      print(' ', end='')
    print('*')

  else:
    for space in range(total-i):
      print(' ', end='')
    print('*', end='')
    if(i == int(total/2)):
      print()
      continue
    for morespace in range(2*i - total): # why -2? because we are printing at least 2 characters (*,*)
      print(' ', end='')
    print('*')

 *         *
  *       *
   *     *
    *   *
      *
     * *
    *   *
   *     *
  *       *

In [ ]:
total = 5
for i in range(total):
  for space in range(i):
    print(' ',end='')
  print('*',end='')
  for morespace in range(total-i):
    print('  ', end='')
  print('*')
for j in range(total):
  print(' ', end='')
print('*')

*          *
 *        *
  *      *
   *    *
    *  *
     *

In [ ]:
# Palindromes
# '1221' -> palindrome 
# 'bob'-> palindrome
# 'water'-> is not!
# word = reverse_word!

121

In [ ]:
n1 = int(input())
n1_copy = n1
n2 = 0
while(n1_copy>0):
  last_digit = n1_copy % 10
  n1_copy = int(n1_copy / 10)
  n2 = n2*10 + last_digit
  
if(n1==n2):
  print('Palindrome')
else:
  print('no idea what is this')

# 456 -> 6 out of it
# i need 5, and next time i need 4
# 456/10 = int(45.6) = 45

# next time-> 45 -> %10-> 5 out of it



# 6776 -> 6
# 0 *10 + 6 = 0+6 = 6
# 6*10 + 7 = 67
# 67*10 + 7 = 677
# 677*10 + 6 = 6776

1234567890987654321
no idea what is this

In [ ]:
n1

1234567890987654321

In [ ]:
n2

1044567890987654321

 567

 7,6,5

 Decimal system:

 position X 10^position

 10^2 10^1 10^0
 1,    4,   7

In [ ]:
# PRIME NUMBER-> a number divisible by itself and 1
number = int(input())
import time
begin = time.time()
total_factors = 0
noprime = False
for i in range(1,int(number/2)): # we start from 1 to avoid div by 0 situation
  if(number % i == 0 and i != 1):
    print('NOT a prime number!')
    noprime = True
    break

if(not noprime):
  print('Prime')
end = time.time()
print('TIme Taken= '+ str(end-begin))

6500000
NOT a prime number!
TIme Taken= 0.0003800392150878906

In [ ]:
# PRIME NUMBER-> a number divisible by itself and 1
number = int(input())
import time
begin = time.time()
total_factors = 0
noprime = False
for i in range(1,number): # we start from 1 to avoid div by 0 situation
  if(number % i == 0 and i != 1):
    print('NOT a prime number!')
    noprime = True
    break

if(not noprime):
  print('Prime')
end = time.time()
print('TIme Taken= '+ str(end-begin))

6500000
NOT a prime number!
TIme Taken= 0.0007975101470947266